
<!-- <a href="" routerLink="/">inicio</a>  -->
<app-menu-principal></app-menu-principal>
<div id="page">
  <header>
    <h1>Blog</h1>
  </header>
  <nav></nav>
  <main>
    <div>
      <figure><img src="../../../assets/imagenes/Blog/1fa30e.jpg" alt=""></figure>
    </div>
    <div>
      <h3>La nueva españa</h3>
      <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus a inventore quia
        perferendis, voluptatem necessitatibus, similique quibusdam, fugit et sequi magnam unde voluptatibus
        praesentium. Voluptas facere assumenda ut iusto delectus!</p>
    </div>
    <div>
      <figure><img src="../../../assets/imagenes/Blog/1fa30e.jpg" alt=""></figure>
    </div>
    <div>
      <h3>Hoy empieza todo 2</h3>
      <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus a inventore quia
        perferendis, voluptatem necessitatibus, similique quibusdam, fugit et sequi magnam unde voluptatibus
        praesentium. Voluptas facere assumenda ut iusto delectus!</p>
    </div>
    <div>
       <figure><img src="../../../assets/imagenes/Blog/1fa30e.jpg" alt=""></figure>
    </div>
    <div>
      <h3>Hoy empieza todo 2</h3>
      <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus a inventore quia
        perferendis, voluptatem necessitatibus, similique quibusdam, fugit et sequi magnam unde voluptatibus
        praesentium. Voluptas facere assumenda ut iusto delectus!</p>
    </div>
    
  </main>
  <footer>Footer </footer>
</div>
