
<!-- <a href="" routerLink="">inicio</a> -->
 <app-menu-principal></app-menu-principal>
 
 <nav aria-label="Page navigation example ">
   <ul class="pagination justify-content-center ">
       <li class="page-item " id="anterior">
           <a class="page-link" href="#" aria-label="Previous">
               <span aria-hidden="true">&laquo;</span>
           </a>
       </li>
       <li class="page-item " id="btn1"><a class="page-link " routerLink="/datos-basicos">1</a></li>
       <li class="page-item" id="btn2"><a class="page-link" routerLink="/proyectos">2</a></li>
       <li class="page-item" id="btn3"><a class="page-link" routerLink="/blog">3</a></li>
       <li class="page-item" id="siguiente">
           <a class="page-link" href="#" aria-label="Next">
               <span aria-hidden="true">&raquo;</span>
           </a>
       </li>
   </ul>
</nav>

<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/first" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
    <li><a routerLink="/second" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>



    <!-- <app-nav-formulario></app-nav-formulario> -->
 <!-- <app-datos-basicos></app-datos-basicos> -->