 /*** CARGAR FUENTE ***/
 @font-face {
    font-family: Eina01-Semi-Bold;
    src: url(/fuente/Eina01-SemiBold.ttf);
  }
  @font-face {
    font-family: Eina01-Regular;
    src: url(/fuente/Eina01-Regular.ttf);
  }

  /*** RESETEO PORPIEDADES ***/
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  /*** ESTABLECER BODY ***/
  body {
    width: 70vw;
    margin-left: 20vw;
    position: relative;
    top: 1rem;
  }

  /** SEPARADORES **/
  .separador7vh {
    height: 7vh;
  }

  .separador5vh {
    height: 5vh;
  }

  .separador3vh {

     height: 3vh;
  }

  .separdor1-5vh {

     height: 1.5vh;
  }

  /*** HEADER ***/

  /**ESTILO TITULO BIO **/
  header h1 {
    font-family: Eina01-Semi-Bold;
    font-weight: 300;
    font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
    text-align: center;
    letter-spacing: 0.2rem;
    color: #006493;
  }

  /** IMAGEN/TEXTO BIO **/
  header .card {

    width: 100%;
    border: none;
  }

  header .card-body {

    background-color: white;
  }

  header .col-md-4 {

    width: fit-content;
  }

  header .row{

    justify-content: space-evenly;
  }
  /** ESTILO TEXTO BIO **/
  header .card-text {
    font-family: Eina01-Regular;
    color: #006493;
    letter-spacing: 0.1rem;
    text-align: justify;
    margin: 0;
    font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
    padding: 1rem;
  }

  /*** MAIN ***/

  /** TITULO EXPOS **/
  main h2{

     font-family: Eina01-Semi-Bold;
     letter-spacing: 0.15rem;
     font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
     color: #006493;
     text-align: center;
     margin: 0;
  }

  /** ESTILO TARJETAS **/
  .card {
    border-color: #006493;
    width: 25rem;
  }

  .marco {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    height: 15rem; /* Ajusta la altura automáticamente */
    margin-bottom: 0;
    overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
  }
  
  .marco img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Asegura que la imagen se recorte para llenar el contenedor */
  }

  .card-title {
    font-family: Eina01-Semi-Bold;
    color: #006493;
    letter-spacing: 0.2rem;
  }

  .card-text {
    font-family: Eina01-Semi-Bold;
    color: #006493;
    letter-spacing: 0.1rem;
  }

  .filaCards {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }

  .card-body {
    background-color: #c67a791a;
  }

  .card-text-Margen {
    margin-bottom: 0;
  }

  .separadorBio {
    height: 10vh;
  }

  .card-oculta{

     visibility: hidden;
  }

  #publicForma h3{

     font-family: Eina01-Semi-Bold;
     font-size: clamp(1rem, 0.85rem + 0.75vw, 1.75rem);
     color: #006493;
  }

  #publicForma p{

     font-family: Eina01-Regular;
     font-size: clamp(0.75rem, 0.65rem + 0.5vw, 1.25rem);
     color: #006493;
     letter-spacing: 0.1rem;
  }

  #publicForma h2 {

     text-align: left;
  }

  /** FOOTER **/
footer {

  width: 50vw;
  margin: auto;
}

#redes {

  display: flex;
  position: relative;
  top: 2rem;
  width: 50%;
  justify-content: space-between;
  margin: auto;
  text-align: center;
}

#redes a {

  width: 25%;
}

#redes img {

  max-width: 35%;
  margin: auto;
}

#redes img:hover {

  transform: scale(1.15);
}

#figurePie {

  display: flex;
  width: 100%;
  margin: auto;
}

#figurePie img {

  max-width: 100%;
  margin: auto;
}

@media (max-width: 1600px) {

  main .card {

    width: 25rem;
  }

}

@media (max-width: 1350px) {

  main .card {

    width: 23rem;
  }

}

@media (max-width: 710px) {

  .filaCards{

    display: block;
  }

}
