
<app-menu-principal></app-menu-principal>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
   <header>
      <!-- <div class="separador3vh"></div> -->
      <h1 >BÍO/CV</h1>
      <div class="separador3vh"></div>
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://picsum.photos/300/350" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p class="card-text">Artista de nacionalidad francesa y española graduada en bellas artes.
                Trabaja con técnicas pictóricas y grafícas, realizando también obra
                digital. En sus procesos creativos, sigue un camino intuitivo que
                responde a la intención de presentaruna estética orgánica que regenere
                vínculos con la naturaleza.</p>
            </div>
          </div>
        </div>
      </div>
  
    </header>
  
    <div class="separador7vh"></div>
  
    <main>
      <h2 >EXPOSICIONES PERSONALES</h2>
      <div class="separador5vh"></div>
      <section class="filaCards">
        <div class="card margincard" >
          <figure class="marco">
          <img src="https://picsum.photos/300/200" class="card-img-top" alt="...ExpoLu2"/>
          </figure>
          <div class="card-body">
            <h5 class="card-title">OCTUBRE 2023</h5>
            <p class="card-text card-text-Margen">"Formas de vida"</p>
            <p class="card-text card-text-Margen">Academia Espositivo</p>
            <p class="card-text">Madrid</p>
          </div>
        </div>
  
        <div class="card">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
          <div class="card-body">
            <h5 class="card-title">JUNIO 2024</h5>
            <p class="card-text card-text-Margen">"Formas de vida II"</p>
            <p class="card-text card-text-Margen">Sala Siroco</p>
            <p class="card-text">Madrid</p>
          </div>
        </div>
  
      </section>
  
      <div class="separador5vh"></div>
  
      <section class="filaCards">
        <div class="card margincard">
          <figure class="marco">
            <img src="assets/imagenes/exposiciones/ExpoLu3.jpg" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
          <div class="card-body">
            <h5 class="card-title">OCTUBRE 2024</h5>
            <p class="card-text card-text-Margen">"Ciclos y dimensiones"</p>
            <p class="card-text card-text-Margen">Espacio Lu</p>
            <p class="card-text">Madrid</p>
          </div>
        </div>
  
        <div class="card">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
          <div class="card-body">
            <h5 class="card-title">ENERO 2025</h5>
            <p class="card-text card-text-Margen">"Le sens du regard"</p>
            <p class="card-text card-text-Margen">Alianza francesa</p>
            <p class="card-text">Madrid</p>
          </div>
        </div>
  
      </section>
  
      <div class="separador5vh"></div>
  
      <section class="filaCards">
        <div class="card margincard">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
          <div class="card-body">
            <h5 class="card-title">FEBRERO 2025</h5>
            <p class="card-text card-text-Margen">"Formas de vida III"</p>
            <p class="card-text card-text-Margen">Espacio Belleartes</p>
            <p class="card-text">Cáceres</p>
          </div>
        </div>
  
        <div class="card card-oculta">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
         <div class="card-body">
           <h5 class="card-title">OCTUBRE 2023</h5>
           <p class="card-text card-text-Margen">"Formas de vida"</p>
             <p class="card-text card-text-Margen">Academia Espositivo</p>
           <p class="card-text">Madrid</p>
         </div>
       </div>
  
      </section>
  
      <div class="separador7vh"></div>
  
      <h2 id="bio-cv">EXPOSICIONES COLECTIVAS</h2>
      <div class="separador5vh"></div>
  
      <section class="filaCards">
         <div class="card margincard">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
           <div class="card-body">
             <h5 class="card-title">OCTUBRE 2024</h5>
             <p class="card-text card-text-Margen">"X Feria de Arte Aparte"</p>
             <p class="card-text card-text-Margen">Espacio Belleartes</p>
             <p class="card-text">Cáceres</p>
           </div>
         </div>
  
         <div class="card">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
          <div class="card-body">
            <h5 class="card-title">DICIEMBRE 2024</h5>
            <p class="card-text card-text-Margen">"Mirar x, ver y"</p>
            <p class="card-text card-text-Margen">Nebula Espacio</p>
            <p class="card-text">Madrid</p>
          </div>
        </div>
  
       </section>
  
       <div class="separador5vh"></div>
  
       <section class="filaCards">
         <div class="card margincard">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
           <div class="card-body">
             <h5 class="card-title">ENERO 2025</h5>
             <p class="card-text card-text-Margen">"Naturaleza Fragmentada"</p>
             <p class="card-text card-text-Margen">La Gran Vía Cultural de Madrid</p>
             <p class="card-text">Madrid</p>
           </div>
         </div>
  
         <div class="card card-oculta">
          <figure class="marco">
            <img src="https://picsum.photos/200/100" class="card-img-top" alt="...ExpoLu2"/>
            </figure>
          <div class="card-body">
            <h5 class="card-title">OCTUBRE 2023</h5>
            <p class="card-text card-text-Margen">"Formas de vida"</p>
              <p class="card-text card-text-Margen">Academia Espositivo</p>
            <p class="card-text">Madrid</p>
          </div>
        </div>
  
       </section>
  
       <div class="separador7vh"></div>
      <section id="publicForma">
         <h2>PUBLICACIONES</h2>
         <div class="separador3vh"></div>
         <h3>2023</h3>
         <p>. Efeminista - El ciclo de performance de mujeres "Visión y presencia" vuelve al Thyssen con marca Latina - Ilustración para la performance "Volver a Nacer" de Alejandra Glez</p>
         <p>. Plataforma de arte contemporáneo (PAC) - Formas de Vida. Léa Thieux</p>
         <div class="separdor1-5vh"></div>
         <h3>2024</h3>
         <p>. Catálogo "X Feria de arte Arte y Acción"</p>
         <p>. Cátalogo "Mirar x, ver y"</p>
         <div class="separdor1-5vh"></div>
         <h3>2025</h3>
         <p>. Catálogo "Naturaleza Fragmentada"</p>
         <div class="separador5vh"></div>
         <h2>OTRAS EXPERIENCIAS</h2>
         <div class="separador3vh"></div>
         <h3>ENERO 2023 - DICIEMBRE 2025</h3>
         <p>Asistente en la producción del festival Art Exchange Festival : un programa de intercambio organizado entre Madrid y La habana para conectar los artistas a nivel internacional.</p>
         <div class="separdor1-5vh"></div>
         <h3>OCTUBRE 2022 - DICIEMBRE 2023</h3>
         <p>Asistente de la artista Alejandra Glez.</p>
         <div class="separdor1-5vh"></div>
         <h3>OCTUBRE 2021 - NOVIEMBRE 2023</h3>
         <p>Profesora de pintura en el centro cultural Eduardo Úrculo.</p>
         <div class="separador5vh"></div>
         <h2>FORMACIÓN</h2>
         <div class="separador3vh"></div>
         <h3>2019 - 2020</h3>
         <p>Máster en Foramción del Profesorado en Educación Secundaria y Bachillerato. Universidad Complutense, Madrid</p>
         <div class="separdor1-5vh"></div>
         <h3>2014 - 2018</h3>
         <p>Grado en Bellas Artes. Universidad Complutense, Madrid</p>
         <div class="separado5vh"></div>
  
      </section>
  
    </main>
  
</body>

   <app-footer></app-footer>
