<app-menu-principal></app-menu-principal>
<div id="page">
  <header>
    <h1>Blog</h1>
  </header>
  <nav></nav>
  <main>
    <div >
      <figure><img src="../../../assets/imagenes/Blog/1fa30e.jpg" alt=""></figure>
    </div>
    <div>
      <h3>La nueva españa</h3> <span>19/05/2025</span>
      <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus a inventore quia
        perferendis, voluptatem necessitatibus, similique quibusdam, fugit et sequi magnam unde voluptatibus
        praesentium. <span>Categoria</span></p>
    </div>
    <div>
      <figure><img src="../../../assets/imagenes/Blog/1fa30e.jpg" alt=""></figure>
    </div>
    <div>
      <h3>Hoy empieza todo 2</h3><span>19/05/2025</span>
      <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus a inventore quia
        perferendis, voluptatem necessitatibus, similique quibusdam, fugit et sequi magnam unde voluptatibus
        praesentium. <span>Categoria</span></p>
    </div>
    <div>
       <figure><img src="../../../assets/imagenes/Blog/1fa30e.jpg" alt=""></figure>
    </div>
    <div>
      <h3>Hoy empieza todo 2</h3><span>19/05/2025</span>
      <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellendus a inventore quia
        perferendis, voluptatem necessitatibus, similique quibusdam, fugit et sequi magnam unde voluptatibus
        praesentium. <span>Categoria</span></p>
    </div>
    
  </main>

</div>

 <app-footer></app-footer>
