<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/" href="">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu.jpg" alt="" srcset=""></div>
      <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu2.jpg" alt="" srcset=""></div>
      <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu3.jpg" alt="" srcset=""></div>
      <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu4.jpg" alt="" srcset=""></div>
      <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu5.jpg" alt="" srcset=""></div>
      
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <!-- <div class="swiper-button-prev"></div> -->
    <!-- <div class="swiper-button-next"></div> -->
  
    <!-- If we need scrollbar -->
    <!-- <div class="swiper-scrollbar"></div> -->
  </div>