
<!-- Slider main container -->
<app-menu-principal></app-menu-principal>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu2.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu3.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu4.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu5.jpg" alt="" srcset=""></div>
  </div>
  <div class="swiper-pagination"></div>


</div>