<app-menu-principal></app-menu-principal>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../../assets/imagenes/swiper/Physa 1_1.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/swiper/70x50cm lienzo_1.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu3.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu4.jpg" alt="" srcset=""></div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<app-formas-de-vida></app-formas-de-vida>
<!-- <app-ciclos-y-dimensiones></app-ciclos-y-dimensiones> -->