#menu-dropdown {
    position: sticky;
    top: 2rem; /* Ajusta según sea necesario */
    left: 1vw;
    width: 15vw;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block; /* Muestra la lista desplegable */
}

.dropdown-menu {
    left: 2rem;
    position: absolute;
}

