
<footer>
  <section id="redes">
    <a href="https://instagram.com/tu_usuario" target="_blank" rel="noopener">
      <img src="assets/imagenes/footer/instagram.png" alt="Instagram" />
    </a>
    <a href="https://facebook.com/tu_usuario" target="_blank" rel="noopener">
      <img src="assets/imagenes/footer/facebook.png" alt="Facebook" />
    </a>
  </section>
  <figure id="figurePie">
    <img src="assets/imagenes/footer/pie.jpg" alt="pie" />
  </figure>
  <section id="legal">
    <a href="assets/documentos/politica-proteccion-datos.pdf" target="_blank" rel="noopener">
      Política de Protección de Datos
    </a>
    &nbsp;|&nbsp;
    <a href="assets/documentos/politica-cookies.pdf" target="_blank" rel="noopener">
      Política de Cookies
    </a>
  </section>
</footer>


