
.container a{
  position: absolute;
  right: 6vw;
  top: 8px;
  color: rgb(81, 45, 9);
  text-decoration: none;
  font-size: 1.5rem;  
}
.container a>li {
  list-style: none;
  text-align: end;
}
.container a>li:hover{
  color:rgba(81, 45, 9, 0.608);
  font-size: 1.7rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}