
<app-menu-principal></app-menu-principal>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../../assets/imagenes/swiper/Physa 1_1.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/swiper/70x50cm lienzo_1.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu3.jpg" alt="" srcset=""></div>
    <div class="swiper-slide"><img src="../../../assets/imagenes/fotos/ExpoLu4.jpg" alt="" srcset=""></div>
  </div>
  <div class="swiper-pagination"></div>
</div>

<body>
  <header>
    <div class="separador3vh"></div>
    <h1>CICLOS Y DIMENSIONES</h1>
    <div class="separador3vh"></div>
  </header>

  <main>
    <section class="contenedorGaleria">
      <!-- 8 imágenes cuadradas -->
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/50x50_papel_dibond_1 2_1.jpg"
          alt="Agua I"
          class="cuadrada"
        />
        <span>Sistema río</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/50x50_papel_dibond 2_1.jpg"
          alt="Agua II"
          class="cuadrada"
        />
        <span>Sistema río</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/50x50_papel_dibond_2 2.jpg"
          alt="Agua III"
          class="cuadrada"
        />
        <span>Sistema río</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/50x50_papel_dibond_3 2.jpg"
          alt=""
          class="cuadrada"
        />
        <span>Sistema río</span>
      </div>
      <div class="imagen-con-texto">
        <img src="/fotos/CUADRADAS/60x60_tela 2.jpg" alt="" class="cuadrada" />
        <span>Sistema río</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/60x60_tela_2 2.jpg"
          alt=""
          class="cuadrada"
        />
        <span>Sistema río</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/Sistema_Nube_1 2.jpg"
          alt=""
          class="cuadrada"
        />
        <span>Sistema nube</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/CUADRADAS/Sistema_Nube_3.jpg"
          alt=""
          class="cuadrada"
        />
        <span>Sistema nube</span>
      </div>

      <!-- 12 imágenes verticales -->
      <div class="imagen-con-texto">
        <img src="/fotos/VERTICALES/50x70 tela 2.jpg" alt="" class="vertical" />
        <span>Agua dulce I</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/VERTICALES/Ilustración_sin_título 1.jpg"
          alt=""
          class="vertical"
        />
        <span>Clorofila I</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/VERTICALES/Ilustración_sin_título 3.jpg"
          alt=""
          class="vertical"
        />
        <span>Clorofila II</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/VERTICALES/Sistema_Nube_4.jpg"
          alt=""
          class="vertical"
        />
        <span>Amanita</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/VERTICALES/Sistema_Nube_5.jpg"
          alt=""
          class="vertical"
        />
        <span>Agua dulce I</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/VERTICALES/100x130_tela_2 2.jpg"
          alt=""
          class="vertical"
        />
        <span>Agua dulce I</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/VERTICALES/Sistema_Nube_2.jpg"
          alt=""
          class="vertical"
        />
        <span>Agua dulce I</span>
      </div>
    </section>

    <section class="contenedorGaleriaHorizontal">
      <!-- 8 imágenes horizontales -->

      <div class="imagen-con-texto">
        <img
          src="/fotos/HORIZONTALES/Ilustración_sin_título 6.jpg"
          alt="Sangre III"
          class="horizontal"
        />
        <span>Sangre III</span>
      </div>
      <div class="imagen-con-texto">
        <img
          src="/fotos/HORIZONTALES/Ilustración_sin_título.jpg"
          alt="Sangre IV"
          class="horizontal"
        />
        <span>Sangre IV</span>
      </div>
    </section>
    <section class="descargar-pdf">
      <a
        href="assets/documentos/Catalogo_Formas_2025.pdf"
        download="Catalogo_Formas_2025.pdf"
        class="btn-descargar"
      >
        Descargar Catálogo
      </a>
    </section>
  </main>

  <footer>
    <section id="redes">
      <a href=""><img src="/logoInstagram.png" alt="" /></a>
      <a href=""><img src="/logoFacebook.png" alt="" /></a>
    </section>
    <figure id="figurePie"><img src="/pie.jpg" alt="" /></figure>
  </footer>
</body>
