<app-menu-principal></app-menu-principal>

  <body>
    <header>
      <div class="separador3vh"></div>
      <h1>FORMAS DE VIDA</h1>
      <div class="separador3vh"></div>
    </header>

    <main>
      <section class="contenedorGaleria">
        <!-- 8 imágenes cuadradas -->
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua I.jpg" alt="Agua I" class="cuadrada" />
          <span>Agua I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua II.jpg" alt="Agua II" class="cuadrada" />
          <span>Agua II</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua III.jpg" alt="Agua III" class="cuadrada" />
          <span>Agua III</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/IMG_8362.JPG" alt="" class="cuadrada" />
          <span>Agua I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Sangre I.jpg" alt="" class="cuadrada" />
          <span>Sangre I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Sangre II.jpg" alt="" class="cuadrada" />
          <span>Sangre II</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Sangre III.jpg" alt="" class="cuadrada" />
          <span>Sangre III</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Imagen_insertada.jpg" alt="" class="cuadrada" />
          <span>Agua I</span>
        </div>

        <!-- 12 imágenes verticales -->
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua dulce I.jpg" alt="" class="vertical" />
          <span>Agua dulce I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua dulce II.jpg" alt="" class="vertical" />
          <span>Agua dulce II</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Clorofila I.jpg" alt="" class="vertical" />
          <span>Clorofila I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Clorofila II.jpg" alt="" class="vertical" />
          <span>Clorofila II</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Amanita.jpg" alt="" class="vertical" />
          <span>Amanita</span>
        </div>
        <div class="imagen-con-texto">
          <img
            src="assets/imagenes/formasDeVida/IMG20240304125303_Original.jpg"
            alt=""
            class="vertical"
          />
          <span>Agua dulce I</span>
        </div>
        <div class="imagen-con-texto">
          <img
            src="assets/imagenes/formasDeVida/676B5E64-DF84-4917-9D1F-417873B306D7.JPG"
            alt=""
            class="vertical"
          />
          <span>Agua dulce I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/IMG_8362.JPG" alt="" class="vertical" />
          <span>Agua dulce I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/IMG_8538 2.jpeg" alt="" class="vertical" />
          <span>Agua dulce I</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Simbiosis II.jpg" alt="" class="vertical" />
          <span>Simbiosis II</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/40x55 lienzo .jpg" alt="" class="vertical" />
          <span>40x55 lienzo</span>
        </div>
      </section>

      <section class="contenedorGaleriaHorizontal">
        <!-- 8 imágenes horizontales -->

        <div class="imagen-con-texto">
          <img
            src="assets/imagenes/formasDeVida/Sangre III.jpg"
            alt="Sangre III"
            class="horizontal"
          />
          <span>Sangre III</span>
        </div>
        <div class="imagen-con-texto">
          <img
            src="assets/imagenes/formasDeVida/Sangre IV 2.jpg"
            alt="Sangre IV"
            class="horizontal"
          />
          <span>Sangre IV</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua IV.jpg" alt="" class="horizontal" />
          <span>Agua IV</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Agua V.jpg" alt="" class="horizontal" />
          <span>Agua V</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Micelio.jpg" alt="" class="horizontal" />
          <span>Micelio</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Otras_Fomas.jpg" alt="" class="horizontal" />
          <span>Otras Formas</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/Physa 1_1.jpg" alt="" class="horizontal" />

          <span>Physa</span>
        </div>
        <div class="imagen-con-texto">
          <img src="assets/imagenes/formasDeVida/70x50cm lienzo_1.jpg" alt="" class="horizontal" />
          <span>Agua V</span>
        </div>
      </section>
      
      <section class="descargar-pdf">
        <a href="assets/documentos/Catalogo_Formas_2025.pdf" download="Catalogo_Formas_2025.pdf" class="btn-descargar">
          Descargar Catálogo
        </a>
      </section>
    </main>

    <footer>
      <section id="redes">
        <a href=""><img src="assets/imagenes/footer/logoInstagram.png" alt="" /></a>
        <a href=""><img src="assets/imagenes/footer/logoFacebook.png" alt="" /></a>
      </section>
      <figure id="figurePie"><img src="assets/imagenes/footer/pie.jpg" alt="" /></figure>
    </footer>
  </body>
