<app-sidebar></app-sidebar>
<!-- <dashboard-ng19-sidebar class="top-bar__side-bar" [class.open]="isSidebarOpen"></dashboard-ng19-sidebar> -->
<ul id="menu-dropdown" class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/" href="">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLinkActive="active" routerLink="/biografia">BÍO/CV</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="" role="button" routerLink="/biografia" routerLinkActive="active" aria-expanded="false" >BÍO/CV  </a> 
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" routerLink="../biografia" fragment="bio-cv" > Biografia / CV</a></li>
        <li><a class="dropdown-item" href="../biografia/#bio-cv">Exposiciones Personales</a></li>
        <li><a class="dropdown-item" href="">Exposiciones Colectivas</a></li>
        <li><a class="dropdown-item" href="">Publicaciones</a></li>
       
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLinkActive="active" routerLink="/proyectos">PROYECTOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" routerLinkActive="active" routerLink="/blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLinkActive="active" routerLink="/contacto">CONTACTO</a>
      </li>
  </ul>
  <router-outlet></router-outlet>