

<app-navbar></app-navbar>



<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/" href="">INICIO</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLinkActive="active" routerLink="/biografia">BÍO/CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLinkActive="active" routerLink="/proyectos">PROYECTOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" routerLinkActive="active" routerLink="/blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLinkActive="active" routerLink="/contacto">CONTACTO</a>
      </li>
  </ul>
  <router-outlet></router-outlet>