<ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/" href="">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLink="biografia">BÍO/CV</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="" routerLink="proyectos">PROYECTOS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="" routerLink="blog">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" routerLink="contacto">CONTACTO</a>
      </li>
    <!-- <li class="nav-item">
      <a class="nav-link " href="" routerLink="" tabindex="-1" aria-disabled="true">Disabled</a>
    </li> -->
  </ul>
  <router-outlet></router-outlet>